body {
  margin: 0;
  background: #00ffff;
}

@media (min-width: 480px) {

  body {
    background: #ffffff;
  }
}

img {
  vertical-align: bottom;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  top: 0;
  height: 100%;
  background-color: transparent;
  width: 102%;
  z-index: 10;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%)
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:active {
  outline: none;
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 100px;
  height: 100%;
  background: none;
  border: none;
  border-radius: 0;
}

input[type=range]::-webkit-slider-thumb:hover {
  cursor: ew-resize;
}

input[type=range]::-moz-range-track {
  -moz-appearance: none;
  height: 100%;
  width: 100%;
  background-color: transparent;
  position: relative;
  outline: none;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  position: relative;
  width: 100px;
  height: 100%;
  background: none;
  border: none;
  border-radius: 0;
}

input[type=range]::-moz-range-thumb:hover {
  cursor: w-resize;
}

.image-wrapper,
.image-diff-wrapper {
  min-width: 280px;
  max-width: 100vw;
  position: absolute;
  top: 0;
  -webkit-box-shadow: 0 0 5vh #000000;
          box-shadow: 0 0 5vh #000000;
}

.image-wrapper {
  right: 4vw;
}

.image-diff-wrapper {
  left: 4vw;
}

.image--modified {
  position: relative
}

.image--modified img {
  display: inline-block;
  width: 44vw;
  min-width: 280px;
  max-width: 100vw;
}

.image--modified img:hover {
  cursor: pointer;
  vertical-align: bottom;
}

.image--modified .image--original {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
  background-image:
      linear-gradient(45deg, #fefefe 25%, rgba(255, 255, 255, .4) 25%),
      linear-gradient(-45deg, #fefefe 25%, rgba(255, 255, 255, .4) 25%),
      linear-gradient(45deg, rgba(255, 255, 255, .4) 75%, #fefefe 75%),
      linear-gradient(-45deg, rgba(255, 255, 255, .4) 75%, #fefefe 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.image--modified .cursor-ic {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 10%;
  width: 10%;
  color: #ffffff;
  z-index: 3;
}

.image--modified .cursor-ic:before {
  content: '';
  display: block;
  background: #ddeeff;
  width: 2px;
  height: 1000%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}

.image--modified .cursor-ic:after {
  content: '';
  display: block;
  background: url(http://www.julienlejeune.com/codepen/comparator.png) center center no-repeat #000000;
  background-size: 24px;
  width: 60px;
  height: 60px;
  border: 2px solid #ddeeff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 4;
}

.image--modified .slider-ic {
  position: absolute;
  top: 50%;
  width: 100%;
}
