:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #00ffff;
  --cursor: #ddeeff;
}

@custom-media --small (min-width: 480px);

body {
  margin: 0;
  background: var(--blue);

  @media (--small) {
    background: var(--white);
  }
}

img {
  vertical-align: bottom;
}
