.slider-ic {
  position: absolute;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  top: 0;
  height: 100%;
  background-color: transparent;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
    border: none;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 100px;
    height: 100%;
    background: none;
    border: none;
    border-radius: 0;

    &:hover {
      cursor: ew-resize;
    }
  }

  &::-moz-range-track {
    -moz-appearance: none;
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: relative;
    outline: none;
  }

  &::-moz-range-thumb {
    -moz-appearance: none;
    position: relative;
    width: 100px;
    height: 100%;
    background: none;
    border: none;
    border-radius: 0;

    &:hover {
      cursor: w-resize;
    }
  }
}

.cursor-ic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 10%;
  width: 10%;
  color: var(--white);

  &:before {
    content: '';
    display: block;
    background: var(--cursor);
    width: 2px;
    height: 1000%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  &:after {
    content: '';
    display: block;
    background: url(http://www.julienlejeune.com/codepen/comparator.png) center center no-repeat #000000;
    background-size: 14px;
    width: 30px;
    height: 30px;
    border: 2px solid var(--cursor);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
